.logo {
  display: block;
}

.logo__img {
  display: block;
  .base;
  margin: 0 auto;
  .size(96px, 15px);

  @media (min-width: @tablet-width) {
    .size(166px, 42px);
  }

  @media (min-width: @desktop-width) {
    .size(200px, 50px);
  }

  & img {
    @media (min-width: @tablet-width) {
      .size(166px, 42px);
    }

    @media (min-width: @desktop-width) {
      .size(200px, 50px);
    }
  }
}

.logo__img-dark {
  display: none;
  .base;
  margin: 0 auto;
  .size(96px, 15px);

  @media (min-width: @tablet-width) {
    .size(166px, 42px);
  }

  @media (min-width: @desktop-width) {
    .size(200px, 50px);
  }

  & img {
    @media (min-width: @tablet-width) {
      .size(166px, 42px);
    }

    @media (min-width: @desktop-width) {
      .size(200px, 50px);
    }
  }
}
