.steps {
  position: relative;
  padding-top: 26px;
  padding-bottom: 43px;
  background-color: @gainsboro;
  border-radius: 30px 30px 0 0;

  @media (min-width: @tablet-width) {
    padding-top: 47px;
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 53px;
    padding-bottom: 54px;
    border-radius: 60px 60px 0 0;
  }
}

.steps__actions {
  @media (min-width: @tablet-width) {
    max-width: @max-width;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    max-width: initial;
  }
}

.steps__title {
  margin-bottom: 33px;
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
    margin-left: 34px;
    .fontChanged(36px, 36px);
  }

  @media (min-width: @desktop-width) {
    margin-left: 68px;
  }
}

.steps__list {
  .base();
  .reset();
  .abs(flex, 12px, 44px, initial, initial);
  z-index: 5;

  @media (min-width: @tablet-width) {
    top: 18px;
    right: 0;
    left: calc(89.5% - 61px);
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    top: 198px;
    right: 237px;
    left: initial;
  }
}
