/* colors */
@basic-blue: #161C36;
@basic-blue-light: #EDEFF6;
@basic-yellow: #FFD74B;
@black: #000000;
@yellow-dark: #FFBD30;
@special-blue-light: #DFE3F0;
@gray: #444444;
@basic-blue-light: #1D2E5B;
@pink: #F47E7E;
@orange: #FF8D30;
@white: #FFFFFF;

/* margins */
@standart: 30px;
