@import "_vars";
@import "_mixins";

.btn {
  display: block;
  text-align: center;
  .resetLink;
  .resetButton;
  box-sizing: border-box;

  &--icon {
    .size(40px, 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    @media (min-width: @desktop-width) {
      .size(50px, 50px);
    }
  }

  &--authorization {
    display: block;
    padding: 12px 40px;
    .font(17px, 700, 20px, normal);
    color: @basic-blue;
    text-transform: uppercase;
    background-color: @basic-yellow;
    border-radius: 25px;

    @media (min-width: @tablet-width) {
      padding: 15px 29px;
      .font(20px, 700, 20px, normal);
    }
  }

  &--primary {
    padding: 25px 50px 25px 33px;
    .font(24px, 700, 24px, normal);
    color: @basic-blue-light;
    background-color: @basic-yellow;
    border-radius: 20px;
  }
}
