@import "_vars";
@import "_mixins";

.burger {
  position: relative;
  .size(25px, 11px);
  background-color: transparent;
  transition: @transition;

  &::after,
  &::before {
    content: "";
    background-color: @white;
    border-radius: 1.5px;
    .size(100%, 3px);
    transition: @transition;
  }

  &::after {
    .abs(block, 0, initial, initial, 0);
  }

  &::before {
    .abs(block, 8px, initial, initial, 0);
  }

  &--open {
    height: 25px;

    &::after,
    &::before {
      top: 50%;
      transform: translate(-50%);
    }

    &::before {
      background-color: @gray-light;
      transform: rotate(45deg);
    }

    &::after {
      background-color: @gray-light;
      transform: rotate(-45deg);
    }
  }
}
