@import "_vars";
@import "_mixins";

.calendar__control {
  .base();
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
  padding: 11px 0;
  border-top: 1px solid @hawkes-blue;
  border-bottom: 1px solid @hawkes-blue;


  @media (min-width: @tablet-width) {
    margin-bottom: 39px;
    padding: 25px 0 22px;
  }
}

.calendar__control-button {
  background-color: transparent;
  opacity: 0.3;
  transition: @transitionOpacity;

  & svg {
    @media (min-width: @tablet-width) {
      .size(19px, 34px);
    }
  }

  &:hover {
    opacity: 0.5;
  }

  &:disabled {
    opacity: 0.15;
  }
}

.calendar__control-month,
.calendar__control-year {
  .font(20px, 700, 20px);
  color: @basic-blue-light;
  background-color: transparent;
  border: none;
  appearance: none;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    .fontChanged(36px, 36px);
  }
}

.calendar__control-month {
  width: 45px;

  @media (min-width: @tablet-width) {
    width: 86px;
  }
}
