@import "_vars";
@import "_mixins";

.card-catalog {
  .base();
  display: grid;
  grid-template-columns: 86px 1fr 66px;
  grid-template-rows: 45px 26px 57px minmax(30px, max-content) minmax(90px, max-content) minmax(30px, max-content);
  grid-template-areas:
    "img name name"
    "img like ."
    "tagsList tagsList tagsList"
    "wanted wanted wanted"
    "countries countries ."
    "transports transports level"
    "transportsList transportsList levelImg"
    "btn btn btn";
  background-color: @white;
  border-radius: @small;
}

.card-catalog__img {
  grid-area: img;
  display: block;
  margin-left: -3px;
}

.card-catalog__link {
  grid-area: name;
  position: relative;
  .resetLink();
  padding-right: 100px;
}

.card-catalog__like {
  grid-area: like;
  position: relative;
  display: flex;
  align-self: center;
}

.card-catalog__list-tags {
  grid-area: tagsList;
  padding: 13px 5px 5px;
  justify-content: flex-start;
  .font(15px, 400, 18px);
}

.card-catalog__subtitle--wanted {
  grid-area: wanted;
}

.card-catalog__subtitle--transports {
  grid-area: transports;
}

.card-catalog__subtitle--level {
  grid-area: level;
}

.card-catalog__list-countries {
  grid-area: countries;
  align-self: center;
  .base();
  .reset();
  padding-left: 5px;
}

.card-catalog__list-transports {
  grid-area: transportsList;
  align-self: center;
  justify-content: start;
}

.card-catalog__info {
  grid-area: levelImg;
  position: relative;
  align-self: flex-end;
  .size(45px, 45px);
  display: flex;
  align-items: center;
  justify-content: center;
  .font(24px, 700, 24px);
  color: @basic-blue-light;
}

.card-catalog__button {
  grid-area: btn;
  margin-top: 14px;
  padding: 10px 40px;
}

.card-catalog__title {
  color: @basic-blue-light;

  &::after {
    content: "";
    .abs(block, 8px, 0, initial, initial);
    .size(6px, 6px);
    background-color: @salmon-pink;
    border-radius: 50%;
  }

  &--online::after {
    content: "";
    .abs(block, 8px, 0, initial, initial);
    .size(6px, 6px);
    background-color: @green;
    border-radius: 50%;
  }
}

.card-catalog__like-button {
  .size(31px, 31px);
  .abs(block, -10px, initial, initial, -37px);
  border-radius: 50%;

  &--like {
    background-color: @ballerina-gown;
  }
}

.card-catalog__like-count {
  .base();
  .font(14px, 700, 16px);
  color: @basic-blue;
}

.card-catalog__subtitle {
  align-self: center;
  padding-left: 5px;
}

.card-catalog__text {
  display: none;
}

.card-catalog__toolbar {
  .size(100%, 100%);
  .abs(block, 0, 0, 0, 0);
  fill: transparent;

  &--level-25 {
    stroke-dasharray: 31px 144px;
  }

  &--level-50 {
    stroke-dasharray: 90px 85px;
  }

  &--level-80 {
    stroke-dasharray: 140px 35px;
  }

  &--level-99 {
    stroke-dasharray: 170px 5px;
  }
}
