@import "_vars";
@import "_mixins";

.card-catalog {
  .base();
  display: grid;
  grid-template-columns: 86px 1fr 66px;
  grid-template-rows: 45px 26px 57px minmax(30px, max-content) minmax(90px, max-content) minmax(30px, max-content);
  grid-template-areas:
    "img name name"
    "img like ."
    "tagsList tagsList tagsList"
    "wanted wanted wanted"
    "countries countries ."
    "transports transports level"
    "transportsList transportsList levelImg"
    "btn btn btn";
  background-color: @white;
  border-radius: @small;
  transition: box-shadow 0.2s ease-in-out;

  @media (min-width: @tablet-width) {
    grid-template-columns: 190px 28.5% 1fr 60px;
    grid-template-rows: 49px max-content 60px auto min-content;
    grid-template-areas:
      "img name name transportsList"
      "img tagsList tagsList transportsList"
      "img btn like levelImg"
      "wanted wanted wanted wanted"
      "countries countries countries countries";
  }

  &:hover {
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.16);
  }

  &:hover .card-catalog__img {
    transform: scale(1.2);
  }
}

.card-catalog__link-img {
  grid-area: img;
  display: block;
  width: fit-content;
  margin-left: -3px;
  border-radius: 50%;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    width: auto;
    margin-bottom: 5px;
    margin-left: 0;
    border-radius: 20px;
  }
}

.card-catalog__link {
  grid-area: name;
  position: relative;
  .resetLink();
  padding-right: 100px;

  @media (min-width: @tablet-width) {
    margin-left: 29px;
  }
}

.card-catalog__like {
  grid-area: like;
  position: relative;
  display: flex;
  align-self: center;

  @media (min-width: @tablet-width) {
    align-items: center;
  }
}

.card-catalog__list-tags {
  grid-area: tagsList;
  padding: 13px 5px 5px;
  justify-content: flex-start;
  .font(15px, 400, 18px);

  @media (min-width: @tablet-width) {
    margin-left: 29px;
    padding: 0;
  }
}

.card-catalog__subtitle--wanted {
  grid-area: wanted;
}

.card-catalog__subtitle--transports {
  grid-area: transports;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.card-catalog__subtitle--level {
  grid-area: level;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.card-catalog__list-countries {
  grid-area: countries;
  align-self: center;
  .base();
  .reset();
  padding-left: 5px;
}

.card-catalog__list-transports {
  grid-area: transportsList;
  align-self: center;
  justify-content: start;

  @media (min-width: @tablet-width) {
    justify-content: center;
  }
}

.card-catalog__info {
  grid-area: levelImg;
  position: relative;
  align-self: flex-end;
  .size(45px, 45px);
  display: flex;
  align-items: center;
  justify-content: center;
  .font(24px, 700, 24px);
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    .size(60px, 60px);
  }
}

.card-catalog__button {
  grid-area: btn;
  margin-top: 14px;
  padding: 10px 40px;

  @media (min-width: @tablet-width) {
    margin-top: 4px;
    margin-bottom: 6px;
    margin-left: 29px;
    padding: 15px 32px;
  }
}

.card-catalog__img {
  display: block;
  .size(70px, 70px);
  transition: @transitionTransform;

  @media (min-width: @tablet-width) {
    .size(190px, 190px);
  }
}

.card-catalog__title {
  color: @basic-blue-light;

  @media (min-width: @tablet-width) {
    position: relative;
    width: fit-content;
    padding-right: 30px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    .abs(block, 8px, 0, initial, initial);
    .size(6px, 6px);
    background-color: @salmon-pink;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: 10px;
      .size(8px, 8px);
    }
  }

  &--online::after {
    content: "";
    .abs(block, 8px, 0, initial, initial);
    .size(6px, 6px);
    background-color: @green;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: 10px;
      .size(8px, 8px);
    }
  }
}

.card-catalog__like-icon {
  transition: @transitionOpacity, @transitionBgColor;
}

.card-catalog__like-button {
  .size(31px, 31px);
  .abs(block, -10px, initial, initial, -37px);
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    position: initial;
    .size(50px, 50px);
  }

  & .card-catalog__like-icon {
    opacity: 0.3;

    @media (min-width: @tablet-width) {
      .size(20px, 20px);
    }
  }

  &:hover .card-catalog__like-icon {
    opacity: 0.5;
  }

  &:active .card-catalog__like-icon {
    opacity: 0.1;
  }


  &--like {
    background-color: @ballerina-gown;

    &:hover {
      background-color: @azalea;
    }

    &:active {
      background-color: @azalea;
    }

    & .card-catalog__like-icon {
      opacity: 1;
    }

    &:hover .card-catalog__like-icon {
      opacity: 1;
    }

    &:active .card-catalog__like-icon {
      opacity: 0.3;
    }
  }
}

.card-catalog__like-count {
  .base();
  .font(14px, 700, 16px);
  color: @basic-blue;

  @media (min-width: @tablet-width) {
    .fontChanged(20px, 20px);
  }
}

.card-catalog__subtitle {
  align-self: center;
  padding-left: 5px;

  @media (min-width: @tablet-width) {
    margin-top: 22px;
    margin-bottom: 19px;
    padding-left: 49px;
  }
}

.card-catalog__text {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 1px;
    padding-top: 2px;
    .font(14px, 400, 14px);
    color: @black;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    opacity: 0.4;
  }
}

.card-catalog__toolbar {
  .size(100%, 100%);
  .abs(block, 0, 0, 0, 0);
  fill: transparent;

  &--level-25 {
    stroke-dasharray: 31px 144px;
  }

  &--level-50 {
    stroke-dasharray: 90px 85px;
  }

  &--level-80 {
    stroke-dasharray: 140px 35px;
  }

  &--level-99 {
    stroke-dasharray: 170px 5px;
  }
}
