@import "_vars";
@import "_mixins";

.card-companion {
  text-align: center;
  background-color: @white;
  .borderRadiusSmallTop;
  .borderRadiusSmallBottom;
  margin-bottom: 10px;
  height: 483px;
  transition: @transitionTransform, box-shadow 0.2s linear;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 9px 0 rgb(0 0 0 / 16%);
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.card-companion__link {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  .resetLink;
  .borderRadiusSmallTop;
  .borderRadiusSmallBottom;
  overflow: hidden;

  &:hover .card-companion__title {
    opacity: 0.7;
  }

  &:active .card-companion__title {
    color: rgba(29, 46, 91, 0.3);
    opacity: 0.3;
  }
}

.card-companion__info {
  .size(60px, 60px);
  .abs(flex, 17px, 0, 0, 17px);
  flex-direction: column;
  justify-content: center;
  color: @white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.card-companion__toolbar {
  .abs(block, 0, 0, 0, 0);
}

.card-companion__img {
  width: 100%;
  object-fit: cover;
  .borderRadiusSmallTop;
  overflow: hidden;
  transition: @transitionTransform;

  @media (min-width: @tablet-width) {
    .size(100%, 285px);
  }
}

.card-companion__list-countries {
  .size(100%, 25px);
  margin-top: -15px;
}

.card-companion__title {
  margin-top: 13px;
  margin-bottom: 15px;
  color: @basic-blue-light;
  transition: @transitionOpacity;

  @media (min-width: @tablet-width) {
    margin-top: 19px;
    margin-bottom: 23px;
  }

  & span {
    position: relative;
  }

  /* в обычном состоянии пользователь оффлайн, в aria-label прописано, что пользователь оффлайн, когда пользователь онлайн, добавляется класс-модификатор "--online", при добавлении класса онлайн необходимо поменять текст aria-label */
  & span::before {
    content: "";
    .abs(block, 12px, initial, initial, -15px);
    .size(6px, 6px);
    background-color: @salmon-pink;
    border-radius: 50%;
  }

  &--online span::before {
    background-color: @green;
  }
}

.card-companion__list-tags {
  margin: 0 auto;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}
