@import "_vars";
@import "_mixins";

.contact {
  position: relative;
  margin-top: -30px;
  padding-top: 100px;
  padding-bottom: 31px;
  z-index: 3;
  text-align: center;
  .borderRadius;
  background-color: @midnight-blue;

  @media (min-width: @tablet-width) {
    margin-top: -50px;
    padding-top: 125px;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 205px;
  }
}

.contact__text {
  .base;
  margin-bottom: 29px;
  color: @white;

  @media (min-width: @tablet-width) {
    margin-bottom: 65px;
    .fontChanged(28px, 32px);
  }

  @media (min-width: @desktop-width) {
    max-width: 655px;
    margin: 0 auto 65px;
  }

  & ~ .contact__text {
    margin-bottom: 17px;

    @media (min-width: @tablet-width) {
      margin-bottom: 40px;
    }
  }

  & br {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}

.contact__link {
  color: @basic-yellow;
}

.contact__form {
  display: grid;
  grid-template-columns: 1fr 60px;
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 80px;
    margin-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 330px;
    max-width: 1174px;
    margin: 0 auto 70px;
  }
}

.contact__input {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  padding-left: 25px;
  padding-right: 70px;
  .font(18px, 700, 18px);
  border: none;
  .borderRadiusSmallBottom;
  .borderRadiusSmallTop;

  @media (min-width: @tablet-width) {
    padding-left: 36px;
    padding-right: 90px;
  }

  &::placeholder {
    .font(18px, 700, 18px);
    color: @gray;
    opacity: 0.3;

    @media (min-width: @tablet-width) {
      .fontChanged(24px, 24px);
    }
  }
}

.contact__button {
  position: relative;
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  .size(60px, 62px);
  padding: 0;
  .borderRadiusSmallBottom;
  .borderRadiusSmallTop;

  @media (min-width: @tablet-width) {
    .size(80px, 80px);
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
  }

  @media (min-width: @desktop-width) {
    padding-left: 36px;
    .size(330px, 80px);
    text-align: left;
  }

  &::after {
    .abs(block, 39%, 0, 0, calc(100% - 35px));
    content: "";
    .size(13px, 13.5px);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L0 13.0622L0 0.937822L12 7Z' fill='%231D2E5B'/%3E%3C/svg%3E%0A");
    .bg(right center, cover);

    @media (min-width: @tablet-width) {
      .abs(block, 40%, 0, 0, calc(100% - 45px));
      .size(14px, 16px);
    }
  }
}

.contact__button-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.contact__list {
  text-align: left;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: center;
  }
}
