/* colors */
/* margins */
/* функции */
/* шрифт */
/* позиционирование */
/* размеры */
/* фон */
.contact {
  position: relative;
  margin-top: -30px;
  padding-top: 100px;
  padding-bottom: 31px;
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #192144;
}
