@import "_vars";
@import "_mixins";

.contacts-list {
  position: relative;
  .reset;
  .base;
  font-weight: 700;
  color: @basic-yellow;
  z-index: 3;

  @media (min-width: @tablet-width) {
    .fontChanged(28px, 28px);
    text-transform: uppercase;
  }
}

.contacts-list__item--desktop:not(:last-child) {
  @media (min-width: @desktop-width) {
    margin-right: 110px;
  }
}

.contacts-list__link {
  display: flex;
  align-items: center;
  transition: @transitionOpacity, @transitionBgColor, @transitionColor;

  &:hover {
    color: @yellow-dark;

    & .contacts-list__img svg {
      fill: @yellow-dark;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
  .size(45px, 45px);
  background-color: #121936;
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    .size(68px, 68px);
  }

  @media (min-width: @desktop-width) {
    .size(90px, 90px);
  }

  &--desktop {
    @media (min-width: @desktop-width) {
      margin-right: 31px;
    }
  }

  & svg {
    fill: @basic-yellow;

    @media (min-width: @tablet-width) {
      .size(27px, 26px);
    }

    @media (min-width: @desktop-width) {
      .size(36px, 30px);
    }
  }
}
