.developed {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 18px;
  border-top: 1px solid #f2f2f2;

  @media (min-width: @tablet-width) {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }
}

.developed__link {
  width: 270px;
  display: flex;
  justify-content: space-between;
  .resetLink;
  transition: @transitionOpacity, filter 0.2s ease-in-out;

  &:hover {
    filter: grayscale(1);
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    width: auto;
    justify-content: flex-end;
    margin-right: 2px;
  }
}

.developed__text {
  color: @gray;

  @media (min-width: @tablet-width) {
    padding-top: 3px;
    margin-right: 25px;
    .font(20px, 400, 20px);
  }

  @media (min-width: @desktop-width) {
    padding-top: 5px;
  }
}
