@import "_vars";
@import "_mixins";

.developed {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 18px;
  border-top: 1px solid #f2f2f2;

  @media (min-width: @tablet-width) {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
  }

  &__link {
    width: 270px;
    display: flex;
    justify-content: space-between;
    .resetLink;

    @media (min-width: @tablet-width) {
      width: auto;
      justify-content: flex-end;
    }
  }

  &__text {
    color: @gray;

    @media (min-width: @tablet-width) {
      padding-top: 2px;
      margin-right: 23px;
    }
  }
}
