@import "_vars";
@import "_mixins";

.direction {
  position: relative;
  margin-top: -30px;
  padding-top: 100px;
  padding-bottom: 34px;
  background-color: @blue-light;
  .borderRadius;
  z-index: 6;

  @media (min-width: @tablet-width) {
    margin-top: -50px;
    padding-top: 119px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 176px;
    padding-bottom: 0;
    background-image: none;
  }
}

.direction__text {
  margin-right: 46px;
  margin-bottom: 61px;
  margin-left: @margin-left;

  @media (min-width: @tablet-width) {
    max-width: 50%;
    margin-bottom: 105px;
    margin-left: @margin-left-m;
    .fontChanged(28px, 33px);
  }

  @media (min-width: @desktop-width) {
    max-width: 353px;
    margin-top: 0;
    margin-bottom: 98px;
    margin-left: 0;
  }
}

.direction__list {
  position: relative;
  .reset;
  .base;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    max-width: @max-width;
    margin: 0 auto;
    margin-bottom: 46px;
  }

  @media (min-width: @desktop-width) {
    grid-area: 1 / 1 / 4 / 2;
    max-width: initial;
    margin: 0;
    margin-left: 72px;
  }

  &::after {
    @media (min-width: @tablet-width) {
      content: "";
      .size(141px, 141px);
      .abs(block, -38px, 0, 0, -36px);
      background-color: @lavender-light;
      .borderRadiusSmallBottom;
      .borderRadiusSmallTop;
    }

    @media (min-width: @desktop-width) {
      top: -72px;
      left: -72px;
    }
  }
}

.direction__btn {
  position: relative;
  .font(18px, 700, 18px);
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    max-width: @max-width;
    margin: 0 auto;
    padding-top: 31px;
    padding-bottom: 27px;
    .fontChanged(24px, 24px);
  }

  @media (min-width: @desktop-width) {
    align-self: flex-start;
    grid-area: 3 / 2 / 3 / 3;
    max-width: 275px;
    margin: 0;
  }

  &::after {
    .abs(block, 41%, 0, 0, calc(100% - 34px));
    content: "";
    .size(11px, 13px);
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L0 13.0622L0 0.937822L12 7Z' fill='%231D2E5B'/%3E%3C/svg%3E%0A");
    .bg(right center, cover);
    transition: @transitionOpacity;

    @media (min-width: @tablet-width) {
      top: 45%;
    }
  }
}

.direction__title {
  margin-left: @margin-left;

  @media (min-width: @tablet-width) {
    margin-bottom: 60px;
    margin-left: @margin-left-m;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}
