@import "_vars";
@import "_mixins";

.direction {
  position: relative;
  margin-top: -30px;
  padding-top: 100px;
  padding-bottom: 34px;
  background-color: @blue-light;
  .borderRadius;
  z-index: 6;

  &__text {
    max-width: 201px;
    margin-bottom: 60px;
    margin-left: @margin-left;
  }

  &__list {
    .reset;
    .base;
  }

  &__btn {
    position: relative;
    .font(18px, 700, 18px, normal);
    padding-top: 22px;
    padding-bottom: 22px;

    &::after {
      .abs(d, 39%, 0, 0, calc(100% - 37px));
      content: "";
      .size(13px, 13.5px);
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='14' viewBox='0 0 12 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 7L0 13.0622L0 0.937822L12 7Z' fill='%231D2E5B'/%3E%3C/svg%3E%0A");
      .bg(right center, cover);
    }
  }

  &__title {
    margin-left: @margin-left;
  }
}
