@import "_vars";
@import "_mixins";

.header {
  .base;
  position: fixed;
  width: 100%;
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: transparent;
  z-index: 10;

  &--theme-light {
    background-color: @white;
  }

  &--no-js {
    position: static;
    margin-bottom: 515px;

    & .header__button,
    & .logo__img {
      display: none;
    }

    & .logo__img-dark {
      display: block;
    }
  }
}

.header__logo {
  max-height: 15px;

  @media (min-width: @tablet-width) {
    margin-right: 145px;
    max-height: none;
  }
}

.header__button {
  .size(25px, 11px);

  @media (min-width: @tablet-width) {
    display: none;
  }
}
