@import "_vars";
@import "_mixins";

.list-transports {
  .reset;
  .base;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-transports__item {
  &:not(:first-child) {
    margin-left: 14px;
  }
}
