@import "_vars";
@import "_mixins";

.list-tags {
  max-width: 188px;
  .reset;
  .base;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-tags__item {
  &:not(:last-child) {
    margin-right: 5px;
  }
}
