/* colors */
/* margins */
/* функции */
/* шрифт */
/* позиционирование */
/* размеры */
/* фон */
.list-countries {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.list-countries__item:not(:first-child) {
  margin-left: 20px;
}
.list-countries__flag {
  display: block;
  margin-bottom: 5px;
}
