@import "_vars";
@import "_mixins";

.list-countries {
  .reset;
  .base;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.list-countries__item {
  &:not(:first-child) {
    margin-left: 20px;
  }
}

.list-countries__flag {
  display: block;
  margin-bottom: 5px;
}
