.map {
  position: relative;
  margin-top: -30px;
  z-index: 1;

  @media (min-width: @desktop-width) {
    margin-top: -60px;
  }
}

.map__img {
  width: 100%;
  margin: 0 auto;
  display: block;

  @media (min-width: @tablet-width) {
    height: 545px;
  }
}
