@import "_vars";
@import "_mixins";

.nav {
  box-sizing: border-box;
  display: none;

  &--open {
    padding-top: 118px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @white;
    .abs(d, 0, 0, 0, 0);
    z-index: -1;
    height: 60vh;
  }

  &__list {
    text-align: center;
    margin-bottom: 51px;
    color: @midnight-blue;
  }
}
