@import "_vars";
@import "_mixins";

.page {
  .base;
  height: 100%;
  .font(16px, 300, 22px);
}

.page__body {
  .base;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  @media (min-width: @tablet-width) {
    background-color: @blue-light;
  }
}
