@import "_vars";
@import "_mixins";

.profile {
  margin-top: -30px;
  padding-top: 79px;
  padding-bottom: 40px;
  position: relative;
  background-color: @lavender;
  .borderRadius;
  z-index: 4;
  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin-top: -60px;
    padding-top: 130px;
    padding-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 175px;
    padding-bottom: 165px;
  }
}

.profile__title {
  max-width: 40%;
  margin-left: 25px;
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    max-width: initial;
    margin-bottom: 73px;
    margin-left: 0;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 134px;
  }
}

.profile__list {
  &::after {
    content: "";
    .size(100px, 100px);
    z-index: 2;
    .abs(block, -130px, 0, 0, initial);
    background-image: url("../img/rates.png");
    .bg(center, contain);

    @media (min-width: @tablet-width) {
      .abs(block ,initial, 45px, -119px, initial);
    }

    @media (min-width: @desktop-width) {
      .size(198px, 198px);
      right: -111px;
      bottom: 0;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 65px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1066px;
    margin-left: @margin-left-xl;
    padding-left: 66px;
    padding-right: 161px;
  }
}

.profile__button {
  margin: 0 auto;
  background-color: transparent;
  .font(16px, 700, 16px);
  color: @blue-bright;
  transition: @transitionOpacity;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  & svg {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 21px;
    padding: 21px;
    background-color: @lavender-light;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      display: inline-flex;
    }

    @media (min-width: @desktop-width) {
      margin-left: @margin-left-xl;
    }
  }

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    .fontChanged(20px, 20px);
  }
}
