@import "_vars";
@import "_mixins";

.promo-quote {
  .base;
  margin-bottom: @standart;
  text-align: left;
  color: @white;
}

.promo-quote__text {
  .base;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
    .fontChanged(28px, 33px);
  }
}

.promo-quote__author {
  font-weight: 700;

  @media (min-width: @tablet-width) {
    .fontChanged(21px, 25px);
  }

  & br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }
}
