@import "_vars";
@import "_mixins";

.promo-quote {
  max-width: 160px;
  .base;
  margin-left: 25px;
  margin-bottom: @standart;
  text-align: left;
  color: @white;

  &__text {
    .base;
    margin-bottom: 20px;
  }

  &__author {
    font-weight: 700;
  }
}
