@import "_vars";
@import "_mixins";

.social {
  display: flex;
  justify-content: center;
  .reset;
  .base;

  &__link {
    .size(45px, 45px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
