@import "_vars";
@import "_mixins";

.social {
  display: flex;
  justify-content: center;
  .reset;
  .base;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
