@import "_vars";
@import "_mixins";

.table {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
}

.table .alphabet {
  display: none;

  &--active {
    .abs(block, initial, initial, -300px, 19px);
  }
}

.table__cell {
  width: 20%;
  padding: 0;
  border: 1px solid @skyline;
  outline: 1px solid transparent;
  transition: outline 0.2s ease-in-out;

  &:hover {
    outline-color: @navy;
  }
}

.table__button {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 12px;
  .font(14px, 500, 18px);
  color: @basic-blue-light;
  text-transform: uppercase;
  background-color: @white;

  &--current,
  &:active {
    background-color: @blue-light;
  }
}

.table__row:first-child .table__cell {
  border-top: none;
}

.table__row .table__cell:first-child {
  border-left: none;
}

.table__row .table__cell:last-child {
  border-right: none;
}
