@import "_vars";
@import "_mixins";

.title {
  .base;
  margin-bottom: 19px;
  .font(24px, 700, 24px);
  color: @orange;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    .fontChanged(45px, 45px);
  }
}

.title-small {
  .base;
  .fontChanged(21px, 21px);

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
    .fontChanged(24px, 24px);
  }
}

.title-big {
  position: relative;
  display: inline-block;
  .base;
  .fontChanged(36px, 36px);

  &::after {
    content: "";
    .abs(block, initial, initial, -20px, 0);
    .size(100%, 5px);
    background-color: @orange;
    border-radius: 4px;
  }
}

