@import "_vars";
@import "_mixins";

.title {
  .base;
  margin-bottom: 19px;
  .font(24px, 700, 24px);
  color: @orange;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
    .fontChanged(45px, 45px);
  }
}

.title-small {
  .base;
  .font(21px, 700, 21px);

  @media (min-width: @tablet-width) {
    margin-bottom: 5px;
    .fontChanged(24px, 24px);
  }
}
