@import "_vars";
@import "_mixins";
@import "_visually-hidden";

.user-list {
  display: flex;
  .base;
  .reset;

  &--header {
    display: none;

    @media (min-width: @tablet-width) {
      display: flex;
    }

    @media (min-width: @desktop-width) {
      margin-left: auto;
    }
  }

  &--header &__link--first,
  &--header &__link--second {
    display: none;

    @media (min-width: @desktop-width) {
      display: flex;
    }
  }

  &--open {
    .abs(flex, 274px, initial, initial, 50%);
    width: 270px;
    transform: translateX(-50%);

    @media (min-width: @tablet-width) {
      position: initial;
      width: auto;
      transform: none;
    }
  }
}

.user-list__item {
  &--header {
    width: 100%;
  }
}

.user-list__link {
  &--first {
    background-color: @orange;
  }

  &--second {
    background-color: @yellow-dark;
  }
}
